<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
  <title>jamesbtan</title>
  <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="jamesbtan blog: main feed"></link>
  {% block header %} {% endblock %}
</head>
<body>
  <header>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="/">home</a></li>
        <li class="main-nav__list-item"><a href="/blog">blog</a></li>
        <li class="main-nav__list-item"><a href="/tags">tags</a></li>
      </ul>
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="/tags/project">projects</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <div class="acct-card">
      <ul class="acct-card__list">
        {% set section = get_section(path="_index.md") %}
        {% for contact in section.extra.contacts %}
          <li class="acct-card__item">
            <img class="acct-card__img" alt="{{ contact.name }}" src="{{ contact.icon }}" />
            <div><a class="acct-card__link" href="{{ contact.url }}">{{ contact.user }}</a></div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </footer>
  {% block script %} {% endblock %}
</body>
</html>
