{% extends "base.html" %}
{% block content %}
<h1>blog</h1>
<menu>
  <li><button onclick="collapseAll()">Collapse all</button></li>
  <li><button onclick="expandAll()">Expand all</button></li>
</menu>
{% set months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %}
{% set first = true %}
{% for year, pages in section.pages | group_by(attribute="year") %}
  {% for month, pages in pages | group_by(attribute="month") %}
    {% set mval = month | int %}
    <details open>
      <summary>{{ months | nth(n=mval-1) }} {{ year }}</summary>
      <ul>
        {% for page in pages %}
          <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
    {% set_global first = false %}
  {% endfor %}
{% endfor %}
<script>
  function collapseAll() {
    for (let x of document.getElementsByTagName('details')) {
      x.open = false;
    }
  }
  function expandAll() {
    for (let x of document.getElementsByTagName('details')) {
      x.open = true;
    }
  }
</script>
{% endblock content %}
